<ion-header>
  <ion-navbar>
    <ion-title>Joystick</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list inset>
    <ion-item>
      <ion-label stacked>IP</ion-label>
      <ion-input [(ngModel)]="remote.adress" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>PORT</ion-label>
      <ion-input [(ngModel)]="remote.port"></ion-input>
    </ion-item>
    <button *ngIf="!remote.connected" block ion-button full (click)="remote.connect()">Connexion</button>
    <button *ngIf="remote.connected" block ion-button full color="danger" (click)="remote.disconnect()">Disconnect</button>
    <button block ion-button full (click)="testMessage()">testmessage</button>


    <ion-item>{{ direction }} {{ engine[direction] }}</ion-item>


  </ion-list>

  <div class="card jpad-container" #zone_jpad id="jpad"></div>

</ion-content>


